<div class="search_form">
    <%= form_with url:users_path ,method: :get do |f| %>
        <%= f.label :user_id ,style:"font-size:12px"%>
        <%= f.text_field :user_id , style: "width: 60%; height: 12px;border-radius:20px",placeholder:".....enter the user id" %>

        <%= f.submit "Search User",style:"font-size:10px" %>
    <% end %>
</div>