<div class="content">

<div class="sub_content">
    <%= render partial:"form" %>
</div>

<% if !@photos.nil? %>
    <div class="failed_user">
        <%= " #{params[:user_id]}'s photos: "  %>
    </div>

    <div class="all_photos">
        <% @photos.each do |photo| %>

        <div class="photo-item">
            <%= image_tag "https://farm#{photo.farm}.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}.jpg", alt: photo.title, class: "photo-image" %>

        </div>

        <% end %>
    </div>
<% else %>
    <%= flash[:error] %>
<% end %>
</div>